.site-footer {
  position: relative;
  overflow: hidden;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
 
}

.main-footer{
    padding: 60px 0;
    background: $footer-bg;
    a{color:#fff;text-decoration: none;}
}
.ft-head{
    padding: 15px 0;
}

.ft-body{

    ul{
        list-style-type: none;
        margin-left:-30px
    }
    li{
        padding: 3px 0;
    }
}